<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("_htmlHead")
    @RenderSection("head", required: false)
</head>
<body>
    <div id="header">

    </div>
    <div id="main">
        @RenderBody()
    </div>
    @Html.Partial("_htmlBodyFoot")
    @RenderSection("scripts", required: false)
    @MvcClient.ReaderScripts()
</body>
</html>
